<?xml version="1.0" encoding="utf-8"?><testsuites name="pytest tests"><testsuite name="pytest" errors="0" failures="0" skipped="0" tests="2" time="0.086" timestamp="2026-07-10T02:11:01.813001-04:00" hostname="Jamess-MacBook-Pro.local"><testcase classname="harness.tests.config.test_autosci_research_capsule_registry" name="test_autosci_manifest_research_capsules_are_registered_and_resolvable" time="0.044" /><testcase classname="harness.tests.config.test_autosci_research_capsule_registry" name="test_no_autosci_research_capsule_file_is_left_unregistered" time="0.008" /></testsuite></testsuites>